body { background-color: pink; }
        h1 {color: purple; }
        h2 {color: rgb(123, 23, 24); }
        p  {color:mediumseagreen; }
        
        table { background-color: lightblue; }
        u1 {background-color : lightblue; }
        
        table, tr, td, u1 {border : 2px solid black; }
        tr:hover {background-color: #f5f5f5; }
        
        h1 {font-family: "Arial";
            font-style: italic;
            font-size: 36px; }
            
        p {font-family: "Arial";
            font-size: 18px; }
            
        img {
            border: 2x solid black;
             border-radius: 12px;
             width: 150 px;
             display: block;
             padding: 2px;
             margin: left;
             opacity: 0.8; }
