body { background-color: pink; }
title {color:green;} 


        h2 {color: rgb(60, 179, 113);}
        h1 {color:rgb(53, 85, 146); }
    
    
        h1 {font-family: "Arial";
            font-style: italic;
            font-size: 36px; }
            
        h2 {font-family: "Arial";
            font-size: 18px; }
            
        
